{{- $showBlockquoteCite := partial "config.html" (dict "page" .Page "site" .Page.Site "key" "showBlockquoteCite") -}}
{{- $showBlockquoteCaption := partial "config.html" (dict "page" .Page "site" .Page.Site "key" "showBlockquoteCaption") -}}

{{ $icons := dict
  "caution" "triangle-exclamation"
  "important" "star"
  "note" "circle-info"
  "tip" "lightbulb"
  "warning" "circle-exclamation"
}}

{{ if eq .Type "alert" }}
  {{- $isFoldable := or (strings.Contains .AlertSign "+") (strings.Contains .AlertSign "-") -}}
  {{- $isOpen := strings.Contains .AlertSign "+" -}}
  
  {{ if $isFoldable }}
    <details class="blockquote-alert alert-{{ .AlertType }}"{{ if $isOpen }} open{{ end }}>
      <summary class="alert-heading">
        {{ partialCached "widgets/icon.html" (dict "name" (index $icons .AlertType)) "alert" .AlertType }}&nbsp;
        {{ with .AlertTitle }}
          {{ . }}
        {{ else }}
          {{ or (i18n .AlertType) (title .AlertType) }}
        {{ end }}
      </summary>
      <div class="alert-content">
        {{ .Text }}
      </div>
    </details>
  {{ else }}
    <blockquote class="blockquote-alert alert-{{ .AlertType }}">
      <p class="alert-heading">
        {{ partialCached "widgets/icon.html" (dict "name" (index $icons .AlertType)) "alert" .AlertType }}&nbsp;
        {{ with .AlertTitle }}
          {{ . }}
        {{ else }}
          {{ or (i18n .AlertType) (title .AlertType) }}
        {{ end }}
      </p>
      <p class="alert-content">{{ .Text }}</p>
    </blockquote>
  {{ end }}
{{ else }}
<figure class="blockquote-figure">
  <blockquote {{ with .Attributes.cite }}cite="{{ . }}"{{ end }}>
    {{ .Text }} {{ with .Attributes.cite }} {{ if $showBlockquoteCite }}<sup><a href="{{ . }}">[cite]</a></sup>{{ end }}{{ end }}
  </blockquote>
  {{ with .Attributes.caption }}
    {{ if $showBlockquoteCaption }}
    <figcaption class="blockquote-caption">
      — {{ . | safeHTML }}
    </figcaption>
    {{ end }}
  {{ end }}
</figure>
{{ end }}