{{- $page := .page }}
{{- $site := .site }}
{{- $separator := " » " -}}
{{- $key := .key | default "showBreadcrumbs" -}}
{{- $class := .class | default "" -}}
{{ $showBreadcrumbs := (partial "config.html" (dict "page" $page "site" $site "key" $key)) }}

{{- if $showBreadcrumbs -}}
<div class="breadcrumbs {{ $class }}">
    {{- with $page.Ancestors.Reverse -}}
        {{- $lastIndex := sub (len .) 1 -}}
        {{- range $index, $ancestor := . -}}
            {{- if eq $index 0 -}}
                <a href="{{ .RelPermalink }}">Home</a>
            {{- else -}}
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{- end -}}
            {{- if lt $index $lastIndex -}}{{ $separator }}{{- end -}}
        {{- end -}}
    {{- end -}}
</div>
{{- end -}}
