{{- with .Params.cover -}}
<div class="fr-cover-image">
  {{- $altText := $.Params.coverAlt | default $.Title -}}
  {{- $caption := $.Params.coverCaption -}}
  {{- $imageUrl := partial "utils/resolve-image-path.html" (dict "page" $ "url" .) -}}
  
  {{- with $imageUrl -}}
    <figure class="image-figure">
      <img src="{{ . }}" alt="{{ $altText }}" loading="lazy">
      {{- with $caption -}}
      <figcaption>{{ . }}</figcaption>
      {{- end -}}
    </figure>
  {{- end -}}
</div>
{{- end -}}
