{{- $title := .title | default (i18n "details") -}}
{{- $isHTML := .isHTML | default false -}}
{{- $open := .open | default false -}}
<details class="fr-expand"{{ if $open }} open{{ end }} aria-label="{{ i18n "aria_table_of_contents" }}">
    <summary class="fr-expand-summary">{{ $title }}</summary>
    <div class="fr-expand-content">
        {{- if $isHTML -}}
            {{ .content | safeHTML }}
        {{- else -}}
            {{ .content | markdownify }}
        {{- end -}}
    </div>
</details>
