/* Codeblock with language marker */
.codeblock {
  position: relative;
}

.codeblock:has(.codeblock-lang) .highlight pre {
  padding-top: var(--spacing-xxl);
}

.codeblock-lang {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  right: 0.5em;
  padding: 0.25em 0;
  margin: 0 0.5em;
  font-size: 0.8em;
  font-family: var(--code-font);
  border-bottom: 2px solid;
  border-bottom-color: color-mix(in srgb, currentColor 40%, transparent);
  z-index: 1;
  user-select: none;
  font-weight: bold;
}

.codeblock-copy {
  position: absolute;
  top: 0.5em;
  right: 1em;
  padding: 0.4em;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 2;
}

.codeblock:hover .codeblock-copy {
  opacity: 0.6;
}

.codeblock-copy:hover {
  opacity: 1 !important;
}

.codeblock-copy .icon-copy {
  width: 1em;
  height: 1em;
  display: block;
}


