/* Codeblock with language marker */
.codeblock {
  position: relative;
}

.codeblock .highlight pre {
  padding-top: var(--spacing-lg);
}

.codeblock-lang {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0.25em 0.5em;
  font-size: 0.75em;
  font-family: var(--code-font);
  border-radius: 0.25em;
  z-index: 1;
  user-select: none;
  opacity: 0.9;
  font-weight: bold;
}

