/* Cover image */
.fr-cover-image {
  position: relative;
  width: 100%;
  margin: var(--spacing-md) 0;
}

.fr-cover-image .image-figure {
  margin: 0;
}

.fr-cover-image .image-figure img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
}

.fr-cover-image figcaption {
  font-size: 0.9em;
  font-style: italic;
}
