/* Cover image */
.fr-cover-image {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  margin: var(--spacing-md) 0;
}

.fr-cover-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
