/* Vertical text menu with children below parents */
nav ul.menu {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 1em;
  row-gap: 0;
}

nav ul.menu  li {
  margin: 0;
  padding: 0;
}

nav ul.menu a {
  text-decoration: none;
  color: var(--link-color);
}

nav ul.menu a:visited {
  color: var(--link-color);
}

nav ul.menu a:hover {
  text-decoration: underline;
}

nav ul.menu a.active {
  font-weight: bold;
  text-decoration: underline;
}
