/* Vertical text menu with children below parents */
nav ul {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 1em;
  row-gap: 0;
}

nav li {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: var(--link-color);
}

nav a:visited {
  color: var(--link-color);
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  font-weight: bold;
}
