/* Terms widget styling - similar to menu */
nav ul.terms {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 1em;
  row-gap: 0;
}

nav ul.terms  li {
  margin: 0;
  padding: 0;
}

nav ul.terms a {
  text-decoration: none;
  color: var(--link-color);
}

nav ul.terms a:visited {
  color: var(--link-color);
}

nav ul.terms a:hover {
  text-decoration: underline;
}

nav ul.terms a.active {
  font-weight: bold;
  text-decoration: underline;
}
