nav.toc .toc-title {
    margin-block-end: 0;
    padding-block-end: 0;
}

nav.toc ul {
    margin: 0;
    padding-left: 1.5rem;
}

nav.toc > ul {
    padding-left: 0;
}

nav.toc li {
    margin-block: 0.25rem;
}

nav.toc a {
    text-decoration: none;
}

nav.toc a:hover {
    text-decoration: underline;
}