/* Global styles */
:root[data-theme="dark"] {
  --bg-color: var(--dark-bg-color);
  --text-color: var(--dark-text-color);
  --accent-color: var(--dark-accent-color);
  --link-color: var(--dark-link-color);
  --link-visited: var(--dark-link-visited);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme="system"] {
    --bg-color: var(--dark-bg-color);
    --text-color: var(--dark-text-color);
    --accent-color: var(--dark-accent-color);
    --link-color: var(--dark-link-color);
    --link-visited: var(--dark-link-visited);
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--body-font);
  line-height: 1.5;
  margin: 0 auto;
  max-width: var(--page-width);
  padding: var(--spacing-md);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  margin-block-start: var(--spacing-lg);
  margin-block-end: var(--spacing-sm);
}

h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h3, h2 + h4, h2 + h5, h2 + h6,
h3 + h4, h3 + h5, h3 + h6,
h4 + h5, h4 + h6,
h5 + h6 {
  margin-block-start: var(--spacing-xxs);
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.65rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.45rem;
}

h5 {
  font-size: 1.35rem;
}

h6 {
  font-size: 1.25rem;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

a:visited {
  color: var(--link-visited);
}

p {
  margin-block-start: var(--spacing-sm);
  margin-block-end: var(--spacing-sm);
}

blockquote, pre, table, dl, ol, ul {
  margin-block-start: var(--spacing-md);
  margin-block-end: var(--spacing-md);
}

dd {
  margin-inline-start: var(--spacing-lg);
}

ol, ul {
  padding-inline-start: var(--spacing-md);
}

ul ul, ol ol, ul ol, ol ul {
  margin-block-start: var(--spacing-xxs);
  margin-block-end: var(--spacing-xxs);
  padding-inline-start: var(--spacing-md);
}

blockquote {
  border-left: 4px solid var(--accent-color);
  padding: var(--spacing-xs) var(--spacing-xl);
  position: relative;
}

code {
  font-family: var(--code-font);
}

.highlight pre {
  padding: 1em;
  overflow-x: auto !important; 
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
}

table thead th {
  background-color: color-mix(in srgb, var(--accent-color) 25%, transparent);
  border: 0.5px solid var(--text-color);
  padding: var(--spacing-xs) var(--spacing-sm);
  text-align: left;
}

table tbody td {
  border: 0.5px solid var(--text-color);
  padding: var(--spacing-xs) var(--spacing-sm);
}

mark {
  background-color: color-mix(in srgb, var(--accent-color) 40%, transparent);
  padding: var(--spacing-xxs) var(--spacing-xs);
  border-radius: 3px;
  color: var(--text-color);
}

ul:has(> li > input[type="checkbox"]) {
  list-style: none;
}

ul > li > input[type="checkbox"] {
  padding-inline-start: var(--spacing-md);
  pointer-events: none;
}

::-moz-selection { 
  background: color-mix(in srgb, var(--accent-color) 40%, transparent);
}

::selection {
  background: color-mix(in srgb, var(--accent-color) 40%, transparent);
}