body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
  line-height: var(--line-height);
  margin: 0 auto;
  padding: 0 var(--spacing-md);
  max-width: var(--page-width);
}

header {
  margin: var(--spacing-md) 0;
}

footer {
  margin: var(--spacing-md) 0;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-sm);
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.65rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.45rem;
}

h5 {
  font-size: 1.35rem;
}

h6 {
  font-size: 1.25rem;
}
