.all-tags {
    margin-top: var(--spacing-sm) !important;
    margin-bottom: var(--spacing-sm) !important;
}

.main-menu {
    margin-top: var(--spacing-sm) !important;
    margin-bottom: var(--spacing-sm) !important;
}

a:has(.main-title) {
    text-decoration: none;
    color: var(--text-color);
}