.all-tags {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.main-menu {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

a:has(.main-title) {
    text-decoration: none;
    color: var(--text-color);
}

.page-title {
    margin: var(--spacing-xxs) 0;
}

.page-meta-row {
    color: color-mix(in srgb, var(--text-color) 75%, transparent);
}