/* Theme colors */
:root {
    /* Light theme (default) */
    --color-bg: #fcfcfc;
    --color-text: #222222;
    --color-link: #0000ee;

    /* Dark theme palette */
    --dark-color-bg: #001f2c;
    --dark-color-text: #cad6e2;
    --dark-color-link: #6b9eff;

    /* Font families */
    --font-body:  'Verdana', 'Arial';
    --font-header: 'Verdana', 'Arial';
    --font-code: 'Menlo', 'Consolas', 'Monospace';

    /* Spacing */
    --spacing-xxs: 0.125rem;
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 2.5rem;

    /* Layout */
    --page-width: 768px;
    --line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: var(--dark-color-bg);
        --color-text: var(--dark-color-text);
        --color-link: var(--dark-color-link);
    }
}

