{{- return dict
  "info" (dict "color" "#0057b8" "textColor" "#fff" "icon" "circle-info" "iconStyle" "solid" "title" "Info")
  "note" (dict "color" "#ffc107" "textColor" "#000" "icon" "pen-to-square" "iconStyle" "solid" "title" "Note")
  "tip" (dict "color" "#00bcd4" "textColor" "#000" "icon" "lightbulb" "iconStyle" "solid" "title" "Tip")
  "warning" (dict "color" "#ff9900" "textColor" "#000" "icon" "circle-exclamation" "iconStyle" "solid" "title" "Warning")
  "important" (dict "color" "#6200ea" "textColor" "#fff" "icon" "star" "iconStyle" "solid" "title" "Important")
  "caution" (dict "color" "#ff5500" "textColor" "#fff" "icon" "triangle-exclamation" "iconStyle" "solid" "title" "Caution")
-}}