{{- $imageUrl := . -}}
{{- $resolvedUrl := $imageUrl -}}

{{- $image := false -}}
{{- if hasPrefix $imageUrl "http" -}}
  {{- $image = resources.GetRemote $imageUrl -}}
{{- else -}}
  {{- $image = page.Resources.Get $imageUrl -}}
  {{- if not $image -}}
    {{- $image = resources.Get $imageUrl -}}
  {{- end -}}
{{- end -}}

{{- if $image -}}
  {{- $resolvedUrl = $image.RelPermalink -}}
{{- else -}}
  {{- warnf "Image '%s' not found in page, site or remote resource location. Using original path." $imageUrl -}}
{{- end -}}

{{- $resolvedUrl -}}
