/* Blank line / spacer utility */
.blank {
  display: block;
  width: 100%;
}

.blank-top-xs {
  margin-block-start: var(--spacing-xs);
}

.blank-top-sm {
  margin-block-start: var(--spacing-sm);
}

.blank-top-md {
  margin-block-start: var(--spacing-md);
}

.blank-top-lg {
  margin-block-start: var(--spacing-lg);
}

.blank-top-xl {
  margin-block-start: var(--spacing-xl);
}

.blank-top-xxl {
  margin-block-start: var(--spacing-xxl);
}

.blank-bottom-xs {
  margin-block-end: var(--spacing-xs);
}

.blank-bottom-sm {
  margin-block-end: var(--spacing-sm);
}

.blank-bottom-md {
  margin-block-end: var(--spacing-md);
}

.blank-bottom-lg {
  margin-block-end: var(--spacing-lg);
}

.blank-bottom-xl {
  margin-block-end: var(--spacing-xl);
}

.blank-bottom-xxl {
  margin-block-end: var(--spacing-xxl);
}