<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head class="{{ with .Kind }}fr-kind-{{ . | urlize }} {{ end }}{{ with .Section }}fr-section-{{ . | urlize }} {{ end }}{{ with .Type }}fr-type-{{ . | urlize }} {{ end }}{{ with .Layout }}fr-layout-{{ . | urlize }}{{ end }}">
  {{ partial "head.html" . }}
</head>
<body class="{{ with .Kind }}fr-kind-{{ . | urlize }} {{ end }}{{ with .Section }}fr-section-{{ . | urlize }} {{ end }}{{ with .Type }}fr-type-{{ . | urlize }} {{ end }}{{ with .Layout }}fr-layout-{{ . | urlize }}{{ end }}" >
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  
  <footer>
    {{ partialCached "footer.html" . }}
  </footer>
</body>
</html>
