<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="{{ with .Kind }}fr-kind-{{ . | urlize }} {{ end }}{{ with .Section }}fr-section-{{ . | urlize }} {{ end }}{{ with .Type }}fr-type-{{ . | urlize }} {{ end }}{{ with .Layout }}fr-layout-{{ . | urlize }}{{ end }}" >
  <header aria-label="{{ i18n "aria_site_header" }}">
    {{ partial "header.html" . }}
  </header>
  <main aria-label="{{ i18n "aria_main_content" }}">
    {{ block "main" . }}{{ end }}
  </main>
  
  <footer aria-label="{{ i18n "aria_site_footer" }}">
    {{ partialCached "footer.html" . }}
  </footer>
</body>
</html>
