{{ define "main" }}
  {{ partial "widgets/breadcrumb.html" (dict "page" . "site" .Site) }}
  {{ partial "widgets/title.html" (dict "site" .Site "page" . "title" .Title "key" "showPageTitle" "class" "page-title") }}
  
  {{ $time := partial "widgets/meta/date.html" (dict "page" . "site" .Site "format" ":date_long") }}
  {{ $readTime := partial "widgets/meta/read-time.html" (dict "page" . "site" .Site) }}
  {{ $author := partial "widgets/meta/author.html" (dict "page" . "site" .Site) }}

  {{ partial "layouts/flex.html" (dict "items" (slice $time $readTime $author) "class" "page-meta-row" "align" "center" "gap" "sm" "wrap" true "separator" "·") }}
  {{ partial "layouts/blank.html" (dict "tsize" "lg") }}

  {{ partial "content/wrapper.html" .Content }}

  {{ partial "widgets/terms.html" (dict "taxonomy" "tags" "page" . "site" .Site "taxonomyFrom" "page") }}
{{ end }}
