{{ define "main" }}
  {{ partial "widgets/breadcrumb.html" (dict "page" . "site" .Site) }}
  {{ partial "widgets/title.html" (dict "site" .Site "page" . "title" .Title "key" "showPageTitle" "class" "page-title") }}
  
  {{ $time := partial "widgets/meta/date.html" (dict "page" . "site" .Site "format" ":date_long") }}
  {{ $readTime := partial "widgets/meta/read-time.html" (dict "page" . "site" .Site) }}
  {{ $author := partial "widgets/meta/author.html" (dict "page" . "site" .Site) }}

  {{ partial "layouts/flex.html" (dict "items" (slice $time $readTime $author) "class" "page-meta-row" "align" "center" "gap" "sm" "wrap" true "separator" "·") }}
  {{ partial "widgets/terms.html" (dict "taxonomy" "tags" "page" . "site" .Site "taxonomyFrom" "page") }}
  {{ partial "layouts/blank.html" (dict "size" "lg") }}

  {{ $toc := partial "widgets/meta/toc.html" (dict "page" . "site" .Site ) }}
  {{ if $toc }}
    {{ partial "widgets/expand.html" (dict "title" "Table Of Contents" "content" $toc "class" "page-toc") }}
    {{ partial "layouts/blank.html" (dict "size" "lg") }}
  {{ end }}
  {{ partial "content/wrapper.html" .Content }}
  
  {{ partial "widgets/navigation.html" (dict "page" . "site" .Site) }}

{{ end }}
