{{- /*
  Blank Line / Spacer
  
  Creates vertical spacing with configurable padding on top and/or bottom.
  
  Parameters:
    - tsize (optional): Top spacing size - "xs", "sm", "md", "lg", "xl", "xxl"
    - bsize (optional): Bottom spacing size - "xs", "sm", "md", "lg", "xl", "xxl"
  
  Example:
    {{ partial "layouts/blank.html" (dict "tsize" "lg") }}
    {{ partial "layouts/blank.html" (dict "bsize" "md") }}
    {{ partial "layouts/blank.html" (dict "tsize" "xl" "bsize" "sm") }}
*/ -}}

{{- $tsize := .tsize | default "" -}}
{{- $bsize := .bsize | default "" -}}

<div class="blank {{ if $tsize }} blank-top-{{ $tsize }}{{ end }}{{ if $bsize }} blank-bottom-{{ $bsize }}{{ end }}"></div>
