{{/* widgets/posts/base.html */}}

{{/* Incoming params */}}
{{ $class      := .class }}
{{ $pages      := .pages }}
{{ $listType   := .listType | default "simple" }}
{{ $limit      := .limit    | default 10 }}
{{ $paginate   := .paginate | default true }}
{{ $showHidden := .showHidden | default false }}

{{/* Validate listType */}}
{{ if not (in (slice "simple" "card") $listType) }}
    {{ errorf "Invalid listType: %s. Accepted values are ('simple', 'card')." $listType }}
{{ end }}

{{/* Filter hidden posts unless showHidden is true */}}
{{ if not $showHidden }}
    {{ $pages = where $pages "Params.hidden" "ne" true }}
{{ end }}

{{/* Pagination setup */}}
{{ $paginator := false }}

{{ if and $paginate (gt $limit 0) }}
    {{ $paginator = page.Paginate $pages $limit }}
    {{ $pages = $paginator.Pages }}
{{ else if gt $limit 0 }}
    {{ $pages = first $limit $pages }}
{{ end }}

{{ with $pages }}
    <div class="fr-posts fr-posts-{{ $listType }} {{ $class }}">
        <ul class="list">
            {{ range $pages }}
                {{ if eq $listType "simple" }}
                    {{ partial "widgets/posts/style/simple.html" . }}
                {{ else if eq $listType "card" }}
                    {{ partial "widgets/posts/style/card.html" . }}
                {{ end }}
            {{ end }}
        </ul>
    
    {{/* Pagination navigation */}}
    {{ if and $paginator (gt $paginator.TotalPages 1) }}
        <nav class="pagination" aria-label="{{ i18n "aria_pagination" }}">
            {{ $prevText := printf "< %s" (i18n "nav_prev") }}
            {{ $nextText := printf "%s >" (i18n "nav_next") }}
            <ul>
                {{/* Prev */}}
                {{ if $paginator.HasPrev }}
                    <li class="pagination-prev">
                        <a href="{{ $paginator.Prev.RelPermalink }}" aria-label="{{ i18n "aria_previous_page" }}">{{ $prevText }}</a>
                    </li>
                {{ else }}
                    <li class="pagination-prev">
                        <span aria-disabled="true">{{ $prevText }}</span>
                    </li>
                {{ end }}

                {{/* Page numbers */}}
                {{ range $paginator.Pagers }}
                    <li class="pagination-item-{{ .PageNumber }} {{ if eq . $paginator }} pagination-item-current {{ else }} pagination-item {{ end }}">
                        {{ if eq . $paginator }}
                            <a href="{{ .RelPermalink }}" aria-label="{{ i18n "aria_current_page" .PageNumber }}" aria-current="page">{{ .PageNumber }}</a>
                        {{ else }}
                            <a href="{{ .RelPermalink }}" aria-label="{{ i18n "aria_page_number" .PageNumber }}">{{ .PageNumber }}</a>
                        {{ end }}
                    </li>
                {{ end }}

                {{/* Next */}}
                {{ if $paginator.HasNext }}
                    <li class="pagination-next">
                        <a href="{{ $paginator.Next.RelPermalink }}" aria-label="{{ i18n "aria_next_page" }}">{{ $nextText }}</a>
                    </li>
                {{ else }}
                    <li class="pagination-next">
                        <span aria-disabled="true">{{ $nextText }}</span>
                    </li>
                {{ end }}

            </ul>
      </nav>
    {{ end }}
  </div>
{{ else }}
  <span>{{ i18n "no_posts_found" }}</span>
{{ end }}
